@tailwind base;
@tailwind components;
@tailwind utilities;




.link {
    position: relative;
    
}

.link a {
    padding-left: 8px;
    padding-right: 8px;
}


.link a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 12px; /* Adjust based on your needs */
    display: block;
    width: 100%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 10'%3E%3Cpath d='M0,5 Q10,0 20,5 T40,5 T60,5 T80,5 T100,5' fill='transparent' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E") repeat-x;
    background-size: 30px;
    background-position: center;
    z-index: -1;    
}

.link a:hover::before {
    /* width: 0; */
    animation: flip 2s infinite ease-in-out; /* Apply the flip animation */
    
}

@keyframes flip {
    0% {
        width: 100%;
    }
    50% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}